<div class = "container">
	Hi, <%= current_user ? current_user.username : "Stranger" %>!
	<h1>Everything is Awesome</h1>
	<div class="row">
		<% @props.each do |p| %>
			<div class="col-xs-12 col-sm-6 col-md-3">
			<%= link_to prop_path(p) do %>
				<div class="prop">
					Props to <%= p.recipient %><br />
					From <%= p.author %><br />
					For <%= truncate(p.reason, :length => 50, :omission => '...(more)') %>
				</div>
			<% end %>
			</div>
		<% end %>	
	</div>
	<%= link_to "Give Someone Props!", new_prop_path, class: "btn btn-primary" %>
	<%= button_to "Log out!", auths_path, method: :delete, class: "btn btn-danger" %>
</div>