<div class="container">
	<h1>Log in and give some props!</h1>
	<%= form_for @user, {url: auths_path, method: 'post'} do |user| %>
		<%=user.text_field :username, :placeholder => "Enter your username", class: "form-control" %><br>
		<%=user.password_field :password, :placeholder => "Enter password", class: "form-control" %><br>
		<%= user.submit "Log In!", class: "btn btn-success" %>
	<% end %>

	<%= link_to "Sign up!", new_user_path, class: "btn btn-primary" %>

</div>